body {
	font-family: arial, helvetica, sans-serif;
	font-size: 14 px;
	border-right-width: medium;
	background-color: #87CEFA;
	right: 2px;
}

h1 {
	color: #006699;
	font-size: 18 px;
}

ul {
	list-style-type: square;
}

input {
	background-color: #E6E6FA;
	border: solid 1 px #000000;
}

#campo_formulario {
	height: auto;
	float: right;
	width: 70%;
}

#rodape{
	text-align:"center";
	position: absolute;
}

#menu {
	width: 23%;
	padding: 0;
	margin: 0;
	font-size:large;
	font: 18px cursive, sans-serif;
	background: #1E90FF;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	position: fixed;
}

#menu li {
	list-style: none;
	margin: 0.5em 0 0.5em 0.5em;
}

#menu li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #fff;
}

#menu li a:visited {
	color: #fff;
}

#menu li a:hover {
	background: #fff;
	color: #000;
}

#menu li a:active {
	background: #ccc;
	color: #000;
}
